header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #ffd78e;
  box-sizing: border-box;
}
header h1 {
  transform: scale(0.9);
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  margin: 0 5px;
}
header ul li a {
  text-decoration: none;
  color: #000;
}
