.workList {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}
.workList li {
    margin-bottom: 20px;
}
.workList .img_box {
    position: relative;
}
.workList .img_box i {
    background-color: #fff;
}
.workList .img_box i:hover img {
    opacity: 0.65;
}
.workList .img_box i:before {
    content: "이미지 보기";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.2em;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.workList .img_box i:hover:before {
    opacity: 1;
}
.workList .img_box.mo_img_box {
    text-align: center;
}
.workList .img_box.mo_img_box i {
    z-index: 9;
    left: 49.5%;
    top: 3.3%;
    width: 33.3%;
    height: 91%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    border-radius: 1.1vw;
}
.workList .img_box i img {
    width: 100%;
    -webkit-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.workList .img_box.mo_img_box img {
    width: 76.3%;
}
.workList .txt_box {
    padding-top: 20px;
    text-align: center;
}
.workList .txt_box h5 {
    font-size: 1.5em;
    color: #fff;
    line-height: 1.3;
}
.workList .txt_box p {
    padding-top: 10px;
    font-size: 1em;
    color: #f9f9f9;
    font-weight: 300;
    line-height: 1.6;
}
.workList .txt_box a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #aaa;
    margin-top: 15px;
    font-size: 1em;
    color: #ddd;
}
.workList img {
    width: 100%;
}
.workList i {
    overflow: hidden;
    position: absolute;
    left: 4%;
    top: 5.3%;
    width: 92%;
    height: 68%;
    background-position: 0 0;
    transition: background-position 3s ease;
    background-size: 100% auto;
    cursor: pointer;
}

.workList li:hover i {
    /* background-position: 0 100%; */
    /* animation: imgMove 2s linear infinite alternate; */
}

@keyframes imgMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}

@media all and (max-width: 640px) {
    .workList {
        grid-template-columns: repeat(1, 1fr);
    }
    .workList .img_box.mo_img_box i {
        border-radius: 3vw;
    }
}
